body{
  margin:0;

}

.header{
  padding:2px;
  width:100%;
  height:100px;
  background-color: hsl(60, 15%, 10%);
  border-radius:1px;
  box-shadow: 0px 5px 10px 0px 	 #1a1a1a;

}

.beans{
  color:white;
  text-align:center;
}

.hidenav{
  display:none;
}








ul{
  list-style-type: none;
  margin:10px;
  padding:0;
  position: relative;

}

.menuP{
  color:gray;
  text-align:center;
}

button{
  padding:10px 10px 10px 10px;
  width:100%;
  outline:none;
  background-color: hsl(60, 15%, 10%);
  color:white;
  border:none;


}

button:hover{
  background-color: hsl(60, 15%, 40%);
  border-radius: 10px;

}

button:active{

  outline-color: red;
}



.footer{
  height:2rem;
  bottom:10px;
  text-align: center;
  position:absolute;
  width:100%;
  text-align:center;


}
.copy{
  color:hsl(60, 15%, 10%);
}

.table-header {
  margin:0;
  padding:0;
  display:grid;
  border:solid 1px black;
  color:white;
  border-radius:3px;
  align-items: center;
  text-align: center;
  grid-template-columns: repeat(7, 1fr);
  background-color:hsl(60, 15%, 10%);

}

.input-box {
  display:grid;
  grid-template-columns: repeat(7, fit-content(100%));
  align-items: center;

}

.lunch{
  width:97%;
  height:20px;
}

.input-container{
  width:95%;
  height:100px;

}

.container{
  margin-left: 250px;
  width:80%;
  box-shadow: 10px 10px 10px 10px #1a1a1a;
  broder:solid 5px;
  border-radius: 10px;
  height:100px;
}
