body{
  margin:0;
}

.header{
  padding:2px;
  width:100%
  height:100px;
  background-color: hsl(60, 15%, 10%);
  border-radius:1px;
  box-shadow: 1px 10px 20px 0px 	 #1a1a1a;

}

.beans{
  color:white;
  text-align:center;
}

.hidenav{
  display:none;
}

nav{
  position:absolute;
  width:200px;
  height:60%;
  overflow: auto;
  background-color: hsl(60, 15%, 10%);
  margin:4px 0 0 4px;
  border-radius: 20px;
  box-shadow: 6px 10px 20px 0  #1a1a1a;


}

ul{
  list-style-type: none;
  margin:10px;
  padding:0;
  position: relative;

}

.menuP{
  color:gray;
  text-align:center;
}

button{
  padding:10px 10px 10px 10px;
  width:100%;
  outline:none;
  background-color: hsl(60, 15%, 10%);
  color:white;
  border:none;


}

button:hover{
  background-color: hsl(60, 15%, 40%);
  border-radius: 10px;

}

button:active{

  outline-color: red;
}



.footer{
  height:2rem;
  bottom:0;
  text-align: center;
  position:fixed;
  width:100%;
  text-align:center;


}
.copy{
  color:hsl(60, 15%, 10%);
}

table{
  width:80%;
  border-collapse:collapse;
  margin-left:220px;


}

td th{
  padding:30px;
}

th{
  background:#333;
  magin:10px;
  padding 5px 5px 5px 5px;
}
