.Button {
  color: red;
}

.Success {
  color: blue;
}

.PreviousButton {
  width: 1px;
  height: 50px;
  background: none;
  border: none;
  margin: auto 2rem;
  font-size: 10vh;
  color: rgb(32, 32, 39);
  padding: 0;

  padding: 0px;
}

.Next {
  width: 1px;
  height: 50px;
  background: none;
  border: none;
  align-self: flex-end;
  margin: auto;
  font-size: 10vh;
  color: rgb(32, 32, 39);

  padding: 0;
}

.PreviousButton:focus {
  outline: none;
}

.Next:focus {
  outline: none;
}
.Next:hover,
.PreviousButton:hover {
  color: rgba(1, 49, 58, 0.774);
  cursor: pointer;
}

.google-signin {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: auto;
  margin-right: 20px;
}
