.Navigation {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: space-between;
  flex-flow: row wrap;
  float: right;
  margin: auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.Navigation a {
  color: rgb(25, 207, 107);
  text-decoration: none;
  padding: 10px 20px;
  
}

li {
  text-decoration: none;
  list-style: none;
}

.Navigation a:hover,
.Navigation a:active,
.Navigation a.active {
  color: #40a4c8;
  outline: none;
  box-sizing: border-box;
}

.Navigation a:focus {
  color:rgb(20, 5, 5);
  outline: none;
  box-shadow: inset 0px 4px 15px  rgba(68, 22, 22, 0.5);
  border-radius: 25px;
  padding:15px;  
}
