.Navigation {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.Navigation a{
    color: rgb(25, 207, 107);
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

li{
    text-decoration: none;
    list-style: none;
}

.Navigation a:hover,
.Navigation a:active,
.Navigation a.active {
    color: #40A4C8;
}





@media (min-width: 500px) {
    .Navigation {
        margin: -40px 30px;
        display: flex;
        height: 50px;
        width:50%;
        float:right;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .Navigation a {
        color:#000;
        height: 100%;
        padding: 15px 0px;
        border-bottom: 10px solid transparent;
    }
    
    .Navigation a:hover,
    .Navigation a:active,
    .Navigation a.active {
        background-color: rgb(191, 240, 193);
        border-radius: 20px;
        color: rgba(1, 32, 27, 0.904);
        margin: auto 50px;
        
    }
}