.footer{
margin:0;

padding:0;
height:100px;
width:100%;  
bottom:0;
height:100px;
}

.footer-div{
  border-top:1px solid rgb(18, 20, 20);
  background-color: rgba(7, 7, 6, 0.801);
  color:white;
  height:100px;
  width: 100%;
  position: absolute;
  
  left:0;
  padding:0;
  text-align: center;
}