

.signup-box {
   position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 40px;
  background: rgba(20, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(10, 0, 0, 0.8);
  border-radius: 10px;

}
 .login-h2, .login-span {
  margin: 0 0 30px;
  padding: 10px;
  color: #fff;
  text-align: center;

}

.register-button{
    padding:20px 0;
    display: flex;
}

.signup-box .signup-input  {
  position: relative;
}

.signup-box .signup-input  {
  width: 100%;
  padding: 10px 10px;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.signup-box .signup-input label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 10px;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}





